# 9. .gitignore 파일
# 작업 디렉토리 최상위에 위치하게 한다.
# .gitignore 파일을 작성하고, 제외하고자 하는 파일에 대한 내용을 기재한다.

# 경로는 상관없이 특정파일 제외하기
# filename.txt

# 현재 경로에 있는 파일만 제거
# /filename.txt

# 특정 폴더에 있는 파일 제외
# 폴더명/

# 특정 경로의 특정 파일 제외
# 폴더명/filename.txt

# 특정 경로 아래 특정 파일 제외
# 폴더명/**/filename.txt

# 특정 확장자를 가진 파일 제거
# *.png

# 예외
# !filename.txt

#   # git의 캐시값 때문에 적용이 안될 수 있다
#   # 캐시 삭제하고 진행
#   git rm -r --cached .
#   git add .
#   git commit -m "캐시 삭제"